html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/*
Základní stylování pro mobil
*/



body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-weight: 300;
	font-size: 16px;
	line-height: 1.5;
	color: #8B8B8B;
    text-align: center;
    background-color: #FAFAFA;

    margin-left: auto;
    margin-right: auto;
}

.kontejner {
    margin: 60px 20px;

}

h1 {
    font-size: 28px;
    font-weight: 500;
    color: #000000;
    margin: 40px 0;
}

h2 {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.text {
    font-size: 13px;
}

.cast1 {
    margin: 0;
    margin-bottom: 60px;
}

.tlacitka {
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    text-transform: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;


}

.dobrodruzstvi {
     padding: 10px 30px;
    background-color: #407BFF;
     width: 195px;
 }

.pohoda {
    padding: 10px 30px;
    background-color: #8B8B8B;
    width: 230px;
}

.sluzby {
  margin-top: 60px;
}

.box1 {
  display: flex;
  flex-direction: column;
  gap: 15px;

  margin-top: 30px;
}

.box2 {
  display: flex;
  flex-direction: column;
  gap: 15px;

  margin-top: 30px;
}

.box_ikona {
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0px 4px 6px #407BFF1F;
  background-color: #FFFFFF;
  
  display: flex;
  gap: 25px
}

.ikona {
  height: 40px;
  width: 50px;
  margin: 20px 0 20px 20px;
}

.text {
  align-content: center;
  margin-right: 20px;
}

.p_happy_travels {
    margin-top: 0;
    margin-bottom: 30px;
}


/*
Stylování pro tablet
*/


@media (min-width: 640px) {

        body {
            max-width: 780px;
            }

        h1 {
            margin-top: 30px;
        }

        .cast1 {
            margin-bottom: 80px;
            }
            
        .tlacitka {
            display: inline-flex;
            flex-direction: row;
            gap: 20px;
        }

        .obsah {
            margin-bottom: 30px;
        }

        .happy_travels {
            margin: 0;
        }

        .p_happy_travels {
            margin: 0;
            margin-left: 90px;
            margin-right: 90px;
        }

        .dobrodruzstvi {
            margin: 0;
        }
        
        .pohoda {
            margin: 0;
        }
            



        .cast2 {
            margin:0;
            margin-bottom: 80px;
            }

        h2 {
            margin-bottom: 20px;
            margin-top: 0;
            }
            
        .sluzby {
            margin-top: 40px;
            }
            
        .box_ikona {
            display: block;
            flex-direction: row;
            height: 170px;
            width: 230px;
            }
            
        .ikona {
            margin-left: 0;
            margin-top: 40px;
            margin-bottom: 20px;
            }

        .text {
            margin: 0 15px 20px 15px;
            }

        .box1 {
            display: inline-flex;
            flex-direction: row;
            }




        .cast3 {
            margin:0;
            }

        .box2 {
            display: inline-flex;
            flex-direction: row;
            }
}



/*
Stylování pro pc
*/

        @media (min-width: 1100px) {

            body {
                max-width: 1205px;
            }

            .kontejner {
                margin: 60px 80px;
            
            }

            .cast1 {
                margin: 0;
                margin-bottom: 80px;

                display: inline-flex;
                flex-direction: row;
                gap: 60px;
                flex-grow: 1;
            }

            .hlavicka {
                width: 490px;
                order: 0;
            }

            .logo {
                width: 425px;
                text-align: center;
            }

            .happy_travels {
                max-width: 490px;
                order: -1;
                text-align: left;
            }

            .p_happy_travels {
                margin: 0 0 30px 0;
            }

            .tlacitka {
                margin-top: 0;
            }



            .cast2 {
                margin: 0;
                margin-bottom: 80px;

                display: inline-flex;
                flex-direction: row;
                gap: 60px;
            }

            .sluzby {
                width: 430px;
                margin-top: 0;
                text-align: left;

                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .box1 {
                width: 550px;
                margin-top: 0;
                flex-grow: 1;
                order: -1;
            }

            .box_ikona {
                height: 190px;;
            }

            .ikona {
                margin: 40px 60px 20px 60px;
            }

            .text {
                margin: 0 15px 40px 15px;
            }

            .sluzby_cestovky {
                order: 0;
            }




            .cast3 {
                margin: 0;

                display: inline-flex;
                flex-direction: row;
                gap: 60px;
            }

            .box2 {
                width: 550px;
                margin-top: 0;
                flex-grow: 1;
            }
}

